{% extends "base.html" %}
{% block title%}Home{%endblock%}
{%block heading%}DASHBOARD{%endblock%}
{%block dashboard_active%}active{%endblock%}
{%block content%}
<div class="content">
    <div id="sub-menu">
        <a href="/" class="sub active2">CONTROL</a>
        <a href="/robot" class="sub">Robot status</a>
    </div id="content-item">
        <h1 style="margin-left: 50px;margin-top: 30px; color: #222d4f;">Hospital control</h1>
        <div>
           
        </div>
    </div>
</div>


{%endblock%}
